<ul>
  <li>
    <%= link_to 'Kòrsou habrí', 'https://nos-ta-konekta.com/bestuur/' %>
  </li>
  <!-- <li>
    <%= link_to 'FPI', 'https://fpi.cw' %>
  </li> -->
  <li>
    <%= link_to 'Spèlchèk pa Firefox', 'https://addons.mozilla.org/en-us/firefox/addon/dikshonario-papiamentu/' %>
  </li>
</ul>
