  <h3>Tradukshon Majstro</h3>
  <ul>
    <li>
      <%= link_to 'tradukshon Majstro', "https://www.majstro.com/Web/Majstro/bdict.php?gebrTaal=dut&bronTaal=pap&doelTaal=dut&teVertalen=#{@word.name}", target: :_blank %>
    </li>
  </ul>
