<div class="columns small-12">
  <h2>E palabranan abou no ta den e bank'i palabra!</h2>
  <ul>
    <% @words_missing.each do |missing_word| %>
      <li>
        <%= link_to missing_word, "/palabra/#{missing_word}" %>
      </li>
    <% end %>
  </ul>
</div>
