<div class="columns small-12 medium-6 large-8 topper  bordered">
  <h2>
    <%= @glossary.title %>
  </h2>
  <p>
    <%= @glossary.description %>
  </p>

  <div class="pap_description bordered">
    <% @glossary.words.order("name ASC").group_by{|u| u.name[0]}.each do |letter, items| %>
      <h3><%= letter %></h3>
      <ul>
        <% items.each do |item| %>
          <li>
            <%= link_to_word item %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>
