<div class="columns small-12">
  <h2>E palabra <em><%= @search_word %></em> no ta den e banko di palabra!</h2>
  <p>
    E palabra no ta den e banko di palabra: esei no ke men e palabra no ta bon òf ku e no ta bon skirbí.
  </p>
</div>
