<% translation_scope = "views.shared.frontend.footer" %>

<div class="row footer">
  <hr>
  <div class="column small-12 medium-6 large-6 text-left">
    <% unless (controller_name == "frontends" && action_name  == "index") ||
              (controller_name == "sessions" && action_name  == "new") %>
        <%= link_to image_tag('back.png') + t(:back_to_home, scope: translation_scope), '/' %>
        <br />
    <% end %>
    <em><%= t :disclaimer, scope: translation_scope %></em>
  </div>
  <div class="column small-12 medium-5 large-5 text-right">
    &nbsp;
    <% if signed_in? %>
      <%= link_to t(:logout, scope: translation_scope), destroy_user_session_path, :method => :delete, class: [:button, :rounded] %>
    <% end %>
  </div>
  <div class="column small-12 medium-1 large-1 text-right">
    &nbsp;
  </div>
</div>
