<% translation_scope = "views.shared.state" %>

<% if params[:state] == "confirmed" %>
  <div class="row" id="info">
    <div class="columns small-12 large-12">
      <h2><%= t :you_have_access, scope: translation_scope %></h2>
      <%= t :you_can_login, scope: translation_scope %>
    </div>
  </div>
<% end %>

<% if params[:state] == "password_changed" %>
  <div class="row" id="info">
    <div class="columns small-12 large-12">
      <h2><%= t :you_have_changed_password, scope: translation_scope %></h2>
      <%= t :you_can_login_with_new_password, scope: translation_scope %>
    </div>
  </div>
<% end %>
