#word_as_image_section {
  width: 450px;
  height: 450px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  }

#word_as_image_wrapper {
    width: 400px;
    margin: 25px;
    background-color: white;
    position: absolute;
    top: 50%;
    }

#word_as_image_wrapper h1 {
}

body {
  background: none !important;
  background-color: white !important;
  font-family: 'Open Sans', sans-serif;
  }
