<div class="column small-12 large-12">
  <h2>Habri e mensahe den bo pòst elektróniko, pa bo haña akseso na e Banko di Palabra...</h2>
  <p>
    <br />
    Den e mensahe tin un lenk ku tin komo tópiko:
    <br /><br />
    &nbsp;&nbsp;<strong><em>Entrada na 'Banko di Palabra'</em></strong>
    <br/><br />
    Si bo primi riba e lenk, bo ta haña entrada na e 'Banko di Palabra'.
    <br /><br />
  </p>
  <h2>Bo mester habri bo koreo elektróniko pa bo por sigui!</h2>
</div>
