<div class="column small-12 large-12">
  <h2>Ga naar uw email om toegang te krijgen tot de 'Banko di Palabra'...</h2>
  <p>
    <br />
    Er is een email gestuurd naar uw email adres, met als onderwerp:
    <br /><br />
    &nbsp;&nbsp;<strong><em>Toegang tot 'Banko di Palabra'</em></strong>
    <br/><br />
    In deze email staat een link. Volg de link om toegang te krijgen tot de 'Banko di Palabra'.
    <br /><br />
  </p>
  <h2>U dient dus naar uw email te gaan om verder te kunnen!</h2>
</div>
