.back.card-1 {
  background-image: url(images/bentana.png);
}
.back.card-2 {
  background-image: url(images/fli.png);
}
.back.card-3 {
  background-image: url(images/neshi.png);
}
.back.card-4 {
  background-image: url(images/outo.png);
}
.back.card-5 {
  background-image: url(images/palomba.png);
}
.back.card-6 {
  background-image: url(images/spihat.png);
}

/** Matching Cards **/
/**
 * If you wish to have custom matching images, you can do so
 * by leveraging the 'matching' class which is added to one
 * of the matching cards. See the example below.
 *
 * .back.card-1 {
 *   background-image: url(../images/fruits/apple_1.jpg);
 * }
 *
 * .back.matching.card-1 {
 *   background-image: url(../images/fruits/apple_2.jpg);
 * }
 *
 */
