<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Kucho den Otrobanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../js/MemoryGame.js" type="text/javascript"></script>
    <script>
      MemoryGame.settings.rows = 3;
      MemoryGame.settings.colums = 4;
      MemoryGame.settings.images = 6;
    </script>
    <script src="../../js/Card.js" type="text/javascript"></script>
    <link href="../../css/MemoryGame.css" type="text/css" rel="stylesheet" />
    <link href="../../css/menu_bottom.css" type="text/css" rel="stylesheet" />
    <link href="cards.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <section id="memory--end-game-modal" class="valign-table modal">
      <div class="valign-cell">
        <div class="wrapper">
          <h2 id="memory--end-game-message"></h2>
          <h3 id="memory--end-game-score"></h3>
        </div>
      </div>
    </section>
    <section id="memory--app-container">
      <ul id="memory--cards">
      </ul>
    </section>
    <section class="match--menu-bar">
  		<div class="inner">
  			<div class="left"><h1 class="match--app-name">Klek e plachinan i buska sèt di dos plachi ku ta igual</h1></div>

  			<div class="right">
  		          <a href="index.html"><img id="restart" src="../../images/start-again-button.png" /></a>
  		          <a href="../../../html/pap/index01.html"><img id="back" src="../../images/back-button.png" /></a>
  		        </div>
  		</div>
  	</section>

    <script src="../../js/BrowserInterface.js" type="text/javascript"></script>
  </body>
</html>
