// Place all the styles related to the SpellingGame controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.points-number {
  font-size: 4.5rem;
}

#spelling p {
  text-align: justify;
}

.spelling-group-picture {
  max-height: 80px;
}

#spelling_picture {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  margin:auto;
}
