<p>Hallo <%= @resource.name %> (<%= @resource.email %>)!</p>

<p>
  U, of iemand anders, heeft om een nieuw wachtwoord gevraagd voor papiamentu.
</p>
<p>
  Als u zelf niet om een nieuw wachtwoord gevraagd heeft, negeer dit bericht dan of rapporteer dit aan Stichintg Curacao Open.
</p>

<p>
  Als u zelf <em>wel</em> om een nieuw wachtwoord gevraagd heeft, klik dan op onderstaande link.
</p>

<p><%= link_to 'Vraag nieuw wachtwoord aan', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Uw wachtwoord zal alleen gewijzigd worden als u op bovenstaande link klikt.</p>
