<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Papiamentu: Votes Today:</h1>
    <ul>
      <% @words.each do |word| %>
        <li>
          <%= link_to_word(word, true) %>
          <ul>
            <% word.votes.where("created_at > '%s'", Date.yesterday).each do |vote| %>
              <li>
                <%= time_ago_in_words(vote.updated_at) %> pasá: <%= vote.vote ? "+1" : "-1" %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
