<% translation_scope = "word_mailer.views" %>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t '.subject' %></h1>
    <ul>
      <% @words.each do |word| %>
        <li>
          <%= link_to_word(word, true) %>
        </li>
      <% end %>
    </ul>
    <p><%= t :thanks_for_joining, scope: translation_scope %></p>
  </body>
</html>
