<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Papiamentu: A krea palabra nobo: <%= @word.name %></h1>
    <p>
      A kaba di krea e palabra: <%= @word.name %>!
    </p>
    <p>
      Por fabor bishitá <%= link_to_word(@word, true) %> pa wak e!
    </p>
    <p>Danki pa partisipá pasa un dushi dia!</p>
  </body>
</html>
